<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhku.graduation.core.modules.record.mapper.MonitorRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zhku.graduation.core.modules.record.entity.po.MonitorRecord">
        <id column="id" property="id" />
        <result column="node_id" property="nodeId" />
        <result column="temperature" property="temperature" />
        <result column="heater_status" property="heaterStatus" />
        <result column="light_status" property="lightStatus" />
        <result column="degerming_status" property="degermingStatus" />
        <result column="record_time" property="recordTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, node_id, temperature, heater_status, light_status, degerming_status, record_time, is_del
    </sql>

</mapper>
